.poster{
    background-color:white;
    display:inline-block;
    width:100%;
    background-image: url("../images/signs-1.jpg");
    background-size: cover;
    background-position: center;
}
#posterText h1{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
#posterText{
    margin-left:auto;
    margin-right:auto;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color:white;
    font-size: 20pt;
    padding-left:20px;
    padding-right:20px;
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-radius: 20px;
    max-width:600px;
}