body{
    padding:0;
    margin:0;
    background-color: #393939;
    color:white;
}
*{  
    font-family: "Special Elite", system-ui;
    box-sizing: border-box;
}
@media only screen and (min-width:750px){ /*desktop view*/
    #headerButtons{
        margin-left:auto;
        margin-right:auto;
        position: relative;
        bottom:70px;
        text-align: center;
    }
    header{
        width:100%;
        margin:0;
        max-height: 110px;
        position: relative;                    
    }
    .headerLogo{
        display:inline-block;
        position: relative;
        left:5px;
        padding:10px;
        z-index: 1;
    }
}
@media only screen and (max-width:750px){ /* mobile view*/
    #headerButtons{
        margin-left:0px;
        position: absolute;
        top:5px;
        right:0px;
        width:200px;
        text-align: right;
    }
    header{
        width:100%;
        height:170px;
        margin:0;
        position: relative;
        
    }
    .headerLogo{
        display:inline-block;
        position: relative;
        left:10px;
        margin-top:20px;
        padding:10px;
    }
}
.gradient-border {  /*Masks the outside of the gradient with overflow hidden*/
position: relative;
display: inline-block;
width:180px;
height:40px;
border-radius: 23px;
overflow: hidden;
}

.gradient-border::before {
content: '';
position: absolute;
inset: -50%;
width: 200%;
height: 600%;
top:-100px;
border-radius: 20px;
background: linear-gradient(45deg, rgba(255,92,171,1) 0%, rgba(255,92,171,1) 50%, RGB(246, 250, 254) 100%);
animation: rotate 2s linear infinite;
}

.gradient-border__content { /*Masks the insdie of the gradient with it's background*/
position: absolute;
inset: 2px;
background: #393939;
border-radius: 10px;
margin-top:1px;
margin-left:-0.5px;
z-index: 2;
display: flex;
align-items: center;
justify-content: center;
font-family: "League Gothic", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}

@keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.headerButton{
    display: inline-block;
    padding:5px;
    margin-top:0;
    padding-top: 0;
    margin-left:20px;
    margin-right:20px;
    font-size:23pt;
    color:white;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    vertical-align: top;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.plink{
    text-decoration: none;
    color:#FF5CAB;
    margin-top:-3px;
    border-radius: 10px;
    padding-bottom:0px;
}
footer{
    width:100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:20px;
}